.sidebar{
    top:80px;
    position: sticky;
    flex: 1;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
}
.avatar{
    margin-bottom: 10px;
}
.sidebar_top{
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    align-items: center;
    border: 1px solid skyblue;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 10px;
}
 .img1{
    margin-bottom: -20px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    
} 
.stat{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.stat >p{
    color:gray;
    font-size: 13px;
    font-weight: 500;
}
.statNum{
    font-weight: bold;
    color:blue !important
}
.stats{
    padding: 10px;
    margin-bottom: 10px;
}
.sidebar_top >h4{
    color:gray;
    font-size: 12px;
}
.sidebar_top >h2{
    font-size: 18px;
}
.sidebar_bottom{
    text-align: left;
    padding: 10px;
    border: 2px solid lightgray;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
} 